# Ignore everything
*

# Except these directories
!kubejs/
!defaultconfig/
!config/
!docs/
!.github
!.prettierrc
!node_modules/
!package-lock.json
!package.json
!.eslintrc.json

# Allow files in excepted directories
!kubejs/**
!defaultconfig/**
!config/**
!docs/**

# Ignore these files 
config/SpecialMobs/**
config/oculus.properties
config/legendarytooltips-common.toml

# Keep .gitignore itself
!.gitignore
