# Ignore everything
*

# Except these directories
!kubejs/
!defaultconfig/
!config/
!docs/
!.github/
!.prettierrc
!package-lock.json
!package.json
!.eslintrc.json

# Allow files in excepted directories
!kubejs/**
!defaultconfig/**
!config/**
!docs/**
!.github/**

# Ignore these files 
config/SpecialMobs/**
config/oculus.properties
config/legendarytooltips-common.toml

# Keep .gitignore itself
!.gitignore
