name: Lint & Format

on: [push, pull_request]

jobs:
  validate-code:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Check Formatting
        run: npx prettier --check "kubejs/**/*" "!kubejs/assets/**"

      - name: Check Code Quality
        run: npx eslint "kubejs/**/*.js" --ignore-pattern "kubejs/assets/**"
